@model IEnumerable<CinemaManagement.Models.Bill>

@{
    ViewBag.Title = "Bills List";

}

<h2>Bills List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_B)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_Cus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_Staff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateBuy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id_B)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_Cus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_Staff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBuy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
