@model IEnumerable<CinemaManagement.Models.Bill>

@{

<<<<<<< HEAD
    ViewBag.Title = "Bills List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
=======
    ViewBag.Title = "getAllBill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Bills List";
>>>>>>> 1cfab255df496145d1b3b817554135016d4b4d5b

}

<h2 class="text-center text-white">Bill List</h2>

<table class="table text-white text-cener">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_B)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_Cus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_Staff)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateBuy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_B)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_Cus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_Staff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateBuy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
