@model IEnumerable<CinemaManagement.Models.Room>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "InsertRoom")
</p>
<table class="table">
    <tr class="text-white">
        <th>
            ID Room
        </th>
        <th>
            ID Cinema
        </th>
        <th>
            Seat Number
        </th>
        <th>
            Row
        </th>
        <th>
            Column
        </th>
        <th>
            Room Size
        </th>
        <th>
            Room Type
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_R)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_C)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R_SeatNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R_Row)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R_Col)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R_Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.R_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditRoom", new { id_R = item.id_C }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
